
@{
    ViewData["Title"] = "AboutUs";
}

<h1>About Miracle</h1>
<img style="position:center" src="D:\St Clair\FALL 2022\Develop In ASP.NET\LampShade\LampShade_DhruvPatel\Miracle.jpeg" alt="Miracle 1" />
<br />
<h2> Miracle Lighting Co. has been a family affair since the very beginning. After immigrating to Montreal from Romania, founder Abe Naimer first set up shop under the name “The Star Gas & Electric Co.” back in 1914. The company got its start changing the filaments in gas lights – that’s how long we’ve been around!</h2>

<br />
<h2>One by one, Abe’s five brothers joined him in Montreal, eventually renaming the business to “Miracle Lighting” to symbolize their togetherness. In 1954, the showroom moved to its current location on Decarie (fun fact: this was before the expressway existed).</h2>
<br />
<img style="position:center" src="D:\St Clair\FALL 2022\Develop In ASP.NET\LampShade\LampShade_DhruvPatel\Miracle2.jpeg" alt="Miracle 2" />
<h2>Today, we provide thoughtfully curated retail and wholesale homewares for residential, commercial, and industrial clients. Our passion lies in lighting, hardware, smart home technology, furniture, and decorative accessories, as well as floor-to-ceiling room design. With more than 100 years of experience, we are beyond confident that we can help you achieve your dream space.</h2>
