@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome too Miracle Lights Co.</b></h1>
    <h4>Brightest Lights and accessories, just like miracles!</h4>
</div>
